/* import poppind */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #111;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    font-size:  2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url('menu.png');/*/add sth*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}