/* import poppind */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #111;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    font-size:  2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url('menu.png');/*/add sth*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    background: #111;
}

.imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5;
    z-index: 1;
    clip-path: circle(0px at center);
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    position: relative;
    text-align: center;
    max-width: 800px;
}
.content h2{
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    color: #fff;
}

.content p{
    font-size: 1.1em;
    color: #fff;
}

.content a{
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 10px 30px;
    color: #111;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
}
.slider input[type="radio"]{
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}

.slider input[type="radio"]:checked + .imgBx {
    z-index: 10;
    clip-path: circle(1000px at center);
}
